.song-history-component {   
    background-color: black;
    color: white;
    font-family: 'Montserrat', sans-serif;
    clip-path: inset(0% round 10px);
    height: 85vh;
    width: 30vw;
    margin: 0.5rem 0.5rem 0.5rem 1rem;
}

.song-list {
    list-style: none;
    margin-block-start: 0.5rem;
    margin-block-end: 0.5rem;
    margin-inline-start: 1rem;
    margin-inline-end: 1rem;
    padding-inline-start: 0rem;
    unicode-bidi: isolate;
}

.song-list li:nth-of-type(1n+14) {
    display: none;
} 

.song-list li {
    padding-bottom: 0.5rem;
    padding-top: 0.5rem;
    border-bottom: 1px solid white;
    font-size: clamp(0.8rem,  0.1rem + 1vw, 2rem);
}

.song-list li:last-of-type {
    border-bottom: none;
}

@media (max-width: 500px) {
    .song-history-component {   
        height: 52%;
        width: 92%;
        margin: 0.5rem 0.5rem 0.5rem 1rem;
    }
}