.song-history-component {   
    background-color: black;
    color: white;
    font-family: 'Montserrat', sans-serif;
    border-radius: 3%;
    height: 83%;
    width: 25%;
    margin: 0.5rem 0.5rem 0.5rem 1rem;
}

.song-list {
    list-style: none;
    margin-block-start: 0.5rem;
    margin-block-end: 0.5rem;
    margin-inline-start: 1rem;
    margin-inline-end: 1rem;
    padding-inline-start: 0rem;
    unicode-bidi: isolate;
}

.song-list li:last-child {
    border-bottom: none;
}


.song-item {
    padding-bottom: 0.5rem;
    padding-top: 0.5rem;
    border-bottom: 1px solid white;
    font-size: clamp(0.8rem, 1vw + 0.1rem, 2rem);
}