.gallery-component {
    display: flex;
    flex-direction: row;
    height: 84.5vh;
    width: 99vw;
    clip-path: inset(0% round 10px);
    margin: 0.5rem;
    background-color: black;
    color: white;
    font-family: 'Montserrat', sans-serif;
    transform-origin: right; /* Resize from the right */
    transition: transform 0.5s ease; /* Smooth transition */
  }
  
  .gallery-component.song-history-active {
    transform: scaleX(0.99); /* Scale down to 99% width */
  }
  
  .gallery-container {
    display: flex;
    flex-direction: row;
    padding: 0.5rem;
    width: 100%; /* Ensure container takes full width */
  }
  
  .album-viewer {
    display: flex;
    flex-direction: column;
    width: 80vw;
  }
  
  .album-info {
    display: flex;
    flex-direction: column;
    padding: 1rem;
  }
  
  .album-name {
    font-size: 1.5rem;
    font-weight: 500;
  }
  
  .album-description {
    font-size: 0.9rem;
  }
  
  .album-photos {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    padding: 1rem;
  }
  
  .photo {
    height: 18vh;
    width: 50vh;
    background-color: white;
    clip-path: inset(0% round 10px);
  }
  
  .album-search {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-left: 1px solid white;
    width: 16vw;
    margin-top: 1rem;
  }
  
  .album {
    font-size: 1.8rem;
    margin-bottom: 1rem;
  }