.audio-component {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 3vh;
    gap: 1rem;
    background-color: black;
    padding: 1.2rem;
    border-radius: 0.2rem;
}

.radio-logo {
    color: white;
    display: flex;
    padding-right: 1.5rem;
    font-family: 'Montserrat', sans-serif;
    flex-direction: column;
    justify-content: center;
    border-right: 1px solid;
    border-color: white;
}

.station-status svg{
    width: 2rem;
    height: 2rem;
}

.audio-player {
    background-color: black;
}

.play-button {
    background-color: black; /* Green background */
    border: none;
    border-radius: 50%; /* Circular button */
    width: 3rem; /* Button size */
    height: 3rem;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Add a shadow */
    transition: background-color 0.3s ease; /* Smooth hover effect */
  }

  .play-button:hover {
    background-color: transparent; /* Darker green on hover */
  }
  
  .play-button svg {
    width: 3rem; 
    height: 3rem;
    color: white;
  }

.song-info-container {
    width: 20rem; 
    overflow: hidden;
    white-space: nowrap;
    border-left: 1px solid black;
    border-top: 1px solid black;
    border-right: 1px solid black;
    border-bottom: 1px solid black;
    text-align: center;
    background-color: white;
    color: black;
    height: 2.5rem;
    border-radius: 0.3rem;
}

.scrolling-text {
    white-space: nowrap;
    display: inline-block;
    font-family: 'Montserrat', sans-serif;
    font-size: 30px;
    font-weight: 500;
    overflow: hidden;
    box-sizing: border-box;
    animation: scroll-text 10s linear infinite;
  }
  
@keyframes scroll-text {
    0% { transform: translateX(100%); }
    100% { transform: translateX(-100%); }
}

@media (max-width: 600px) {
    .station-status {
        height: 0;
        width: 0;
    }

    .station-status svg{
        height: 0;
        width: 0;
    }

    .song-info-container {
        width: 40vw;
    }
}

@media (max-width: 600px) {
    .station-status {
        height: 0;
        width: 0;
    }

    .station-status svg{
        height: 0;
        width: 0;
    }

    .song-info-container {
        width: 7.5rem;
    }
}